Repository zoriya/Kyoo, pull requests merged in 2024-06, with the labels that each got.

#523 Use my fork of guessit
  scanner/matcher/parser/guess.py
  scanner/matcher/parser/rules.py
  scanner/requirements.txt
Labels: enhancement, scanner

#524 Filter out special season on tmdb absolute ordering
  scanner/providers/implementations/themoviedatabase.py
Labels: bug, scanner

#530 Add filter to meilisearch in backend
  .env.example
  back/src/Kyoo.Abstractions/Controllers/ISearchManager.cs
  back/src/Kyoo.Abstractions/Models/Utils/Filter.cs
  back/src/Kyoo.Core/Program.cs
  back/src/Kyoo.Core/Views/Resources/SearchApi.cs
  back/src/Kyoo.Meilisearch/FilterExtensionMethods.cs
  back/src/Kyoo.Meilisearch/MeiliSync.cs
  back/src/Kyoo.Meilisearch/MeilisearchModule.cs
  back/src/Kyoo.Meilisearch/SearchManager.cs
Labels: enhancement, back

#528 Add media type filter
  front/packages/ui/src/browse/header.tsx
  front/packages/ui/src/browse/index.tsx
  front/packages/ui/src/browse/types.ts
  front/packages/ui/src/search/index.tsx
  front/translations/en.json
Labels: enhancement, webapp

#532 Switch from mediainfo to ffprobe
  shell.nix
  transcoder/Dockerfile
  transcoder/Dockerfile.dev
  transcoder/go.mod
  transcoder/go.sum
  transcoder/src/codec.go
  transcoder/src/info.go
  transcoder/src/settings.go
  transcoder/utils.go
Labels: transcoder

#541 Transcoder: Support audio-only files
  transcoder/src/keyframes.go
Labels: transcoder

#556 Use Base64Url form for paths.
  back/src/Kyoo.Core/Views/Helper/Transcoder.cs
  transcoder/utils.go
Labels: bug, transcoder
