Repository zoriya/Kyoo, pull requests merged in 2024-05, with the labels that each got.

#459 Fix scanning with partial absolute groups on tmdb
  scanner/matcher/matcher.py
  scanner/matcher/parser/rules.py
  scanner/providers/implementations/themoviedatabase.py
Labels: bug, scanner

#461 Fix token refresh resseting the player
  front/packages/models/src/accounts.tsx
Labels: bug, webapp

#462 Add rescan button on admin interface
  back/src/Kyoo.Abstractions/Controllers/IScanner.cs
  back/src/Kyoo.Abstractions/Models/Utils/Filter.cs
  back/src/Kyoo.Core/Views/Admin/Misc.cs
  back/src/Kyoo.Core/Views/Resources/SearchApi.cs
  back/src/Kyoo.Core/Views/Resources/ShowApi.cs
  back/src/Kyoo.RabbitMq/ScannerProducer.cs
  front/packages/models/src/accounts.tsx
  front/packages/ui/src/admin/scanner.tsx
  front/packages/ui/src/details/season.tsx
  front/packages/ui/src/settings/base.tsx
  front/translations/en.json
  front/translations/fr.json
  scanner/matcher/subscriber.py
  scanner/providers/kyoo_client.py
  scanner/scanner/scanner.py
Labels: enhancement, scanner

#470 Inprove search result sorting, fix manual rescan
  back/src/Kyoo.RabbitMq/ScannerProducer.cs
  scanner/matcher/subscriber.py
  scanner/providers/implementations/themoviedatabase.py
  scanner/providers/rabbit_base.py
  scanner/scanner/__init__.py
  scanner/scanner/publisher.py
Labels: bug, scanner

#471 Sort episodes groups in tmdb absolute response
  scanner/providers/implementations/themoviedatabase.py
Labels: bug, scanner

#479 Fix auto refresh dates calculation
  back/src/Kyoo.Abstractions/Models/Resources/Interfaces/IRefreshable.cs
  back/src/Kyoo.Core/Controllers/Repositories/EpisodeRepository.cs
  back/src/Kyoo.Core/Controllers/Repositories/MovieRepository.cs
  back/src/Kyoo.Core/Controllers/Repositories/SeasonRepository.cs
  back/src/Kyoo.Core/Controllers/Repositories/ShowRepository.cs
  back/src/Kyoo.Postgresql/Migrations/20240506175054_FixSeasonMetadataId.Designer.cs
  back/src/Kyoo.Postgresql/Migrations/20240506175054_FixSeasonMetadataId.cs
  scanner/providers/implementations/themoviedatabase.py
  transcoder/src/codec.go
  transcoder/src/info.go
Labels: bug, back

#486 Check if the browser can play codecs before trying to direct play
  biome.json
  front/apps/web/next.config.js
  front/biome.json
  front/packages/models/src/resources/watch-info.ts
  front/packages/ui/src/player/index.tsx
  front/packages/ui/src/player/state.tsx
  front/packages/ui/src/player/video.tsx
  front/packages/ui/src/player/video.web.tsx
  front/packages/ui/src/player/watch-status-observer.tsx
  front/packages/ui/src/settings/playback.tsx
  transcoder/src/codec.go
  transcoder/src/info.go
  transcoder/utils.go
Labels: enhancement, webapp

#487 Prevent afk users from preventing transcode cleanup
  transcoder/src/filestream.go
  transcoder/src/tracker.go
Labels: bug, transcoder

#488 Include tmdb api keys by default
  .env.example
  INSTALLING.md
  scanner/providers/implementations/themoviedatabase.py
  scanner/providers/provider.py
Labels: enhancement, scanner

#492 Add more logs to the scanner (and fix ignore pattern for the monitor)
  scanner/matcher/subscriber.py
  scanner/scanner/monitor.py
  scanner/scanner/refresher.py
  scanner/scanner/scanner.py
Labels: scanner

#495 Transcoder: Prevent Chapters Parsing from failing when no chapters
  transcoder/src/info.go
Labels: bug, transcoder

#496 Fix empty ignore pattern
  scanner/scanner/monitor.py
  scanner/scanner/scanner.py
Labels: bug, scanner

#493 Handle missing translations in scanner
  scanner/matcher/matcher.py
  scanner/providers/types/collection.py
  scanner/providers/types/episode.py
  scanner/providers/types/movie.py
  scanner/providers/types/season.py
  scanner/providers/types/show.py
  scanner/providers/utils.py
Labels: scanner

#494 Basic tvdb provider
  .env.example
  scanner/matcher/matcher.py
  scanner/providers/implementations/thetvdb.py
  scanner/providers/provider.py
  scanner/providers/types/show.py
  scanner/providers/utils.py
  scanner/requirements.txt
  shell.nix
Labels: enhancement, scanner

#497 Use image selection logic for trailers
  scanner/providers/types/movie.py
  scanner/providers/types/show.py
  scanner/providers/utils.py
Labels: enhancement, scanner

#499 Fix tmdb absolute fill for the last episode
  scanner/providers/implementations/themoviedatabase.py
Labels: bug, scanner

#505 Fix video miss-cut because of start offset
  transcoder/src/keyframes.go
  transcoder/utils.go
Labels: bug, transcoder

#506 Split skeleton and normal state in all lists
  front/packages/models/src/utils.ts
  front/packages/primitives/src/avatar.tsx
  front/packages/primitives/src/chip.tsx
  front/packages/primitives/src/icons.tsx
  front/packages/primitives/src/image/image.tsx
  front/packages/primitives/src/image/image.web.tsx
  front/packages/primitives/src/image/index.tsx
  front/packages/primitives/src/skeleton.tsx
  front/packages/primitives/src/skeleton.web.tsx
  front/packages/ui/src/admin/users.tsx
  front/packages/ui/src/browse/grid.tsx
  front/packages/ui/src/browse/index.tsx
  front/packages/ui/src/browse/list.tsx
  front/packages/ui/src/collection/index.tsx
  front/packages/ui/src/details/episode.tsx
  front/packages/ui/src/details/season.tsx
  front/packages/ui/src/details/show.tsx
  front/packages/ui/src/downloads/page.tsx
  front/packages/ui/src/fetch-infinite.tsx
  front/packages/ui/src/fetch-infinite.web.tsx
  front/packages/ui/src/home/genre.tsx
  front/packages/ui/src/home/news.tsx
  front/packages/ui/src/home/recommended.tsx
  front/packages/ui/src/home/vertical.tsx
  front/packages/ui/src/home/watchlist.tsx
  front/packages/ui/src/player/index.tsx
  front/packages/ui/src/search/index.tsx
  front/translations/en.json
Labels: enhancement, webapp

#508 Fix srt selection when switching mode
  front/packages/primitives/src/snackbar.tsx
  front/packages/ui/src/player/state.tsx
  front/packages/ui/src/player/video.web.tsx
Labels: bug, webapp

#510 Persit selected language & i18n fixes
  front/apps/mobile/app/_layout.tsx
  front/apps/web/src/i18n.tsx
  front/apps/web/tsconfig.json
  front/packages/models/src/theme.ts
  front/packages/ui/src/browse/header.tsx
  front/packages/ui/src/components/watchlist-info.tsx
  front/packages/ui/src/details/header.tsx
  front/packages/ui/src/errors/connection.tsx
  front/packages/ui/src/home/genre.tsx
  front/packages/ui/src/home/recommended.tsx
  front/packages/ui/src/i18n-d.d.ts
  front/packages/ui/src/settings/base.tsx
  front/packages/ui/src/settings/general.tsx
  front/translations/en.json
Labels: bug, enhancement, webapp

#513 Split image backround and gradient image background
  front/packages/primitives/src/image/blurhash.web.tsx
  front/packages/primitives/src/image/image.web.tsx
  front/packages/primitives/src/image/index.tsx
  front/packages/ui/src/browse/list.tsx
  front/packages/ui/src/collection/index.tsx
  front/packages/ui/src/details/collection.tsx
  front/packages/ui/src/details/episode.tsx
  front/packages/ui/src/details/header.tsx
  front/packages/ui/src/downloads/page.tsx
  front/packages/ui/src/home/header.tsx
Labels: webapp

#514 Add play permission in the required permissions of the player
  front/packages/ui/src/player/index.tsx
Labels: bug, webapp

#517 Add media notifications on android & fix skeleton slowness
  back/src/Kyoo.Authentication/Views/AuthApi.cs
  front/apps/mobile/app.config.js
  front/apps/mobile/app.config.ts
  front/apps/mobile/package.json
  front/apps/web/package.json
  front/packages/primitives/package.json
  front/packages/primitives/src/skeleton.tsx
  front/packages/ui/src/home/header.tsx
  front/packages/ui/src/player/video.tsx
  front/yarn.lock
Labels: enhancement, webapp

#518 Translate tabbar items
  front/apps/mobile/app/(app)/(tabs)/_layout.tsx
  front/apps/mobile/tsconfig.json
  front/apps/web/package.json
  front/package.json
  front/translations/en.json
  front/yarn.lock
Labels: webapp

#521 Fix tmdb search popularity filter
  scanner/providers/implementations/themoviedatabase.py
  scanner/providers/utils.py
Labels: bug, scanner
