Repository zoriya/Kyoo, pull requests merged in 2024-11, with the labels that each got.

#659 Use on delete casquade for hash changes in the transcoder
  transcoder/src/metadata.go
Labels: bug, transcoder

#658 Rework faulty robot ci
  .github/workflows/robot.yml
  .github/workflows/robot_auth.yml
  auth/.env.example
  auth/Dockerfile
  auth/main.go
  auth/robot/auth.resource
Labels: auth

#682 Docs: Add docs for OpenID Connect configuration
  INSTALLING.md
  OIDC.md
Labels: documentation
