Repository zoriya/Kyoo, pull requests merged in 2024-04, with the labels that each got.

#370 Fix segments list having a greater length than capacity
  front/packages/ui/src/login/form.tsx
  front/packages/ui/src/player/index.tsx
  front/packages/ui/src/player/state.tsx
  transcoder/src/info.go
  transcoder/src/stream.go
Labels: bug, webapp, transcoder

#373 Create image migration code
  .env.example
  back/src/Kyoo.Core/Controllers/ThumbnailsManager.cs
  back/src/Kyoo.Core/Program.cs
  back/src/Kyoo.Core/Views/Helper/CrudThumbsApi.cs
Labels: back

#379 Allow cpu profile for docker compose versions where default profile i…
  .env.example
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Labels: bug

#383 feat: add GHCR container images
  .github/workflows/docker.yml
Labels: tools

#384 Change localhost to meilisearch on the healthcheck
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Labels: bug

#388 back: migrations: fix postgres config
  back/Dockerfile.migrations
Labels: back

#387 chore: set up renovate for dependency management
  renovate.json5
Labels: tools

#410 Split fs scanner into scanner and matcher components
  autosync/autosync/__init__.py
  autosync/autosync/models/message.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  front/packages/models/src/resources/genre.ts
  scanner/.dockerignore
  scanner/Dockerfile
  scanner/matcher/__init__.py
  scanner/matcher/__main__.py
  scanner/matcher/cache.py
  scanner/matcher/matcher.py
  scanner/matcher/parser/guess.py
  scanner/matcher/parser/rules.py
  scanner/matcher/subscriber.py
  scanner/providers/implementations/themoviedatabase.py
  scanner/providers/implementations/thexem.py
  scanner/providers/kyoo_client.py
  scanner/providers/provider.py
  scanner/requirements.txt
  scanner/scanner/__init__.py
  scanner/scanner/monitor.py
  scanner/scanner/publisher.py
  scanner/scanner/requirements.txt
  scanner/scanner/scanner.py
  scanner/scanner/utils.py
  shell.nix
Labels: enhancement, scanner

#411 Make prod docker-compose the default
  INSTALLING.md
  docker-compose.build.yml
  docker-compose.yml
Labels: documentation

#423 Add Simplified Chinese translation
  front/apps/mobile/app/_layout.tsx
  front/apps/web/src/i18n.tsx
  front/translations/zh.json
Labels: enhancement, webapp

#426 Use env var for transcoder url
  back/src/Kyoo.Core/Views/Helper/Transcoder.cs
  back/src/Kyoo.Core/Views/Watch/ProxyApi.cs
  docker-compose.build.yml
  docker-compose.dev.yml
  docker-compose.yml
Labels: bug, transcoder

#433 Add auto refresh of items
  back/src/Kyoo.Core/Controllers/MiscRepository.cs
  back/src/Kyoo.Core/Views/Admin/Misc.cs
  scanner/matcher/matcher.py
  scanner/providers/kyoo_client.py
  scanner/scanner/__init__.py
  scanner/scanner/publisher.py
  scanner/scanner/refresher.py
Labels: enhancement, scanner

#434 Support svg images from external websites
  back/src/Kyoo.Core/Controllers/ThumbnailsManager.cs
  back/src/Kyoo.Core/Kyoo.Core.csproj
Labels: back

#435 Rewrite autosync to use msgspec and aio-pika
  autosync/autosync/__init__.py
  autosync/autosync/__main__.py
  autosync/autosync/consumer.py
  autosync/autosync/models/episode.py
  autosync/autosync/models/message.py
  autosync/autosync/models/metadataid.py
  autosync/autosync/models/movie.py
  autosync/autosync/models/show.py
  autosync/autosync/models/user.py
  autosync/autosync/models/watch_status.py
  autosync/autosync/services/aggregate.py
  autosync/autosync/services/simkl.py
  autosync/requirements.txt
  scanner/matcher/subscriber.py
Labels: autosync

#436 Fix tripple/more touches to seek
  front/packages/ui/src/player/components/hover.tsx
Labels: bug, webapp

#441 Move transcoder api to /video with path b64 encoded to prevent db hit
  back/src/Kyoo.Core/Controllers/Base64RouteConstraint.cs
  back/src/Kyoo.Core/Extensions/ServiceExtensions.cs
  back/src/Kyoo.Core/Views/Content/ProxyApi.cs
  back/src/Kyoo.Core/Views/Content/VideoApi.cs
  back/src/Kyoo.Core/Views/Helper/Transcoder.cs
  back/src/Kyoo.Core/Views/Resources/EpisodeApi.cs
  back/src/Kyoo.Core/Views/Resources/MovieApi.cs
  docker-compose.build.yml
  docker-compose.dev.yml
  docker-compose.yml
  front/packages/ui/src/player/components/scrubber.tsx
  front/packages/ui/src/player/video.web.tsx
  transcoder/main.go
  transcoder/src/extract.go
  transcoder/src/filestream.go
  transcoder/src/info.go
  transcoder/src/settings.go
  transcoder/src/thumbnails.go
  transcoder/src/transcoder.go
  transcoder/src/utils.go
  transcoder/utils.go
Labels: transcoder

#442 Type check guessit results, fix #440
  scanner/matcher/matcher.py
Labels: bug, scanner

#443 Add release ci
  .github/workflows/release.yml
Labels: tools

#444 Refresh login error on token change, not only on id change
  front/packages/models/src/accounts.tsx
Labels: webapp

#445 Better handle titles list
  scanner/matcher/matcher.py
  scanner/matcher/parser/guess.py
  scanner/matcher/parser/rules.py
  shell.nix
Labels: bug, scanner

#449 Fix folder renaming
  back/src/Kyoo.Core/Controllers/MiscRepository.cs
  back/src/Kyoo.Core/Views/Admin/Misc.cs
  scanner/matcher/parser/guess.py
  scanner/matcher/parser/rules.py
  scanner/providers/kyoo_client.py
  scanner/scanner/__init__.py
  scanner/scanner/monitor.py
  scanner/scanner/scanner.py
Labels: bug, scanner

#450 Migrate from nginx to traefik
  .github/workflows/robot.yml
  INSTALLING.md
  docker-compose.build.yml
  docker-compose.dev.yml
  docker-compose.yml
  nginx.conf.template
Labels: tools

#452 Use stable images ids to prevent duplicated
  back/src/Kyoo.Core/Controllers/MiscRepository.cs
  back/src/Kyoo.Core/Controllers/ThumbnailsManager.cs
Labels: bug, back

#457 Fix titles join in path
  scanner/matcher/parser/rules.py
Labels: bug, scanner
