Repository zoriya/Kyoo, pull requests merged in 2025-05, with the labels that each got.

#916 Fix Scanner service crash when RabbitMQ queues are predeclared
  scanner/providers/rabbit_base.py
  scanner/scanner/publisher.py
Labels: scanner

#911 [v4, v5] Added support for storing transcoder metadata in S3
  transcoder/.env.example
  transcoder/go.mod
  transcoder/go.sum
  transcoder/main.go
  transcoder/src/extract.go
  transcoder/src/filestream.go
  transcoder/src/info.go
  transcoder/src/keyframes.go
  transcoder/src/metadata.go
  transcoder/src/settings.go
  transcoder/src/storage/filestorage.go
  transcoder/src/storage/s3storage.go
  transcoder/src/storage/storage.go
  transcoder/src/subtitles.go
  transcoder/src/thumbnails.go
  transcoder/src/transcoder.go
  transcoder/src/utils.go
  transcoder/src/utils/utils.go
Labels: transcoder

#885 Apis for the scanner
  api/bun.lock
  api/drizzle/0020_video_unique.sql
  api/drizzle/meta/0020_snapshot.json
  api/drizzle/meta/_journal.json
  api/package.json
  api/patches/drizzle-orm@0.39.0.patch
  api/patches/drizzle-orm@0.43.1.patch
  api/src/controllers/entries.ts
  api/src/controllers/profiles/history.ts
  api/src/controllers/profiles/nextup.ts
  api/src/controllers/seed/insert/entries.ts
  api/src/controllers/seed/insert/shows.ts
  api/src/controllers/shows/logic.ts
  api/src/controllers/videos.ts
  api/src/db/schema/entries.ts
  api/src/db/schema/videos.ts
  api/src/db/utils.ts
  api/src/models/collections.ts
  api/src/models/entry/episode.ts
  api/src/models/entry/extra.ts
  api/src/models/entry/index.ts
  api/src/models/entry/movie-entry.ts
  api/src/models/entry/special.ts
  api/src/models/entry/unknown-entry.ts
  api/src/models/examples/bubble.ts
  api/src/models/examples/dune-1984.ts
  api/src/models/examples/dune-2021.ts
  api/src/models/examples/index.ts
  api/src/models/examples/made-in-abyss.ts
  api/src/models/examples/others.ts
  api/src/models/movie.ts
  api/src/models/season.ts
  api/src/models/serie.ts
  api/src/models/show.ts
  api/src/models/staff.ts
  api/src/models/studio.ts
  api/src/models/utils/relations.ts
  api/src/models/utils/resource.ts
  api/src/models/video.ts
  api/src/models/watchlist.ts
  api/tests/helpers/videos-helper.ts
  api/tests/manual.ts
  api/tests/movies/get-movie.test.ts
  api/tests/movies/seed-movies.test.ts
  api/tests/series/get-entries.test.ts
  api/tests/series/seed-serie.test.ts
  api/tests/videos/getdel.test.ts
  api/tests/videos/scanner.test.ts
  auth/main.go
  pyproject.toml
  scanner/README.md
  shell.nix
Labels: api

#945 Reduce playback start time by 100x
  transcoder/src/keyframes.go
Labels: transcoder
