Repository zoriya/Kyoo, pull requests merged in 2025-01, with the labels that each got.

#679 Feat/ignore directories support
  INSTALLING.md
  scanner/scanner/monitor.py
  scanner/scanner/scanner.py
Labels: enhancement, scanner

#745 Update go modules
  auth/go.mod
  auth/go.sum
  auth/main.go
  shell.nix
  transcoder/Dockerfile
  transcoder/go.mod
  transcoder/go.sum
Labels: dependencies

#752 Fix/transcoder npd
  transcoder/src/extract.go
Labels: bug, transcoder

#755 Handle non resize transcode
  transcoder/src/filestream.go
  transcoder/src/quality.go
  transcoder/src/videostream.go
Labels: bug, transcoder

#754 Feat/Hearing Impaired flag support
  front/packages/models/src/resources/watch-info.ts
  front/packages/ui/src/components/media-info.tsx
  front/packages/ui/src/player/components/right-buttons.tsx
  front/packages/ui/src/utils.ts
  front/translations/en.json
  front/translations/pt_br.json
  transcoder/migrations/000002_add_hearing_impaired_column.down.sql
  transcoder/migrations/000002_add_hearing_impaired_column.up.sql
  transcoder/src/info.go
  transcoder/src/metadata.go
  transcoder/src/subtitles.go
  transcoder/src/utils.go
Labels: enhancement

#770 Use a subdir in cache to ensure no user data is ever deleted
  transcoder/src/settings.go
  transcoder/src/transcoder.go
Labels: transcoder

#793 Fix no resize transcode of 10bits items with hwaccel
  transcoder/src/hwaccel.go
  transcoder/src/settings.go
  transcoder/src/videostream.go
Labels: bug, transcoder

#794 Update meilisearch
  back/src/Kyoo.Meilisearch/Kyoo.Meilisearch.csproj
Labels: bug, api

#797 Add POST /series that handle seasons & entries
  api/bun.lock
  api/drizzle/0007_entries.sql
  api/drizzle/0008_entries.sql
  api/drizzle/meta/0007_snapshot.json
  api/drizzle/meta/0008_snapshot.json
  api/drizzle/meta/_journal.json
  api/package.json
  api/src/controllers/movies.ts
  api/src/controllers/seed/images.ts
  api/src/controllers/seed/index.ts
  api/src/controllers/seed/insert/entries.ts
  api/src/controllers/seed/insert/seasons.ts
  api/src/controllers/seed/insert/shows.ts
  api/src/controllers/seed/movies.ts
  api/src/controllers/seed/series.ts
  api/src/controllers/videos.ts
  api/src/db/schema/entries.ts
  api/src/db/schema/seasons.ts
  api/src/db/schema/shows.ts
  api/src/db/schema/videos.ts
  api/src/db/utils.ts
  api/src/elysia.ts
  api/src/index.ts
  api/src/models/entry/base-entry.ts
  api/src/models/entry/episode.ts
  api/src/models/entry/extra.ts
  api/src/models/entry/index.ts
  api/src/models/entry/movie-entry.ts
  api/src/models/entry/special.ts
  api/src/models/entry/unknown-entry.ts
  api/src/models/examples/bubble.ts
  api/src/models/examples/made-in-abyss.ts
  api/src/models/movie.ts
  api/src/models/season.ts
  api/src/models/serie.ts
  api/src/models/utils/resource.ts
  api/src/models/video.ts
  api/src/utils.ts
  api/tests/helpers/index.ts
  api/tests/helpers/movies-helper.ts
  api/tests/helpers/series-helper.ts
  api/tests/helpers/videos-helper.ts
  api/tests/movies/get-all-movies-with-null.test.ts
  api/tests/movies/get-all-movies.test.ts
  api/tests/movies/get-movie.test.ts
  api/tests/movies/seed-movies.test.ts
  api/tests/series/seed-serie.test.ts
  biome.json
Labels: api
