Repository zoriya/Kyoo, pull requests merged in 2025-04, with the labels that each got.

#872 Auth cleanups
  .github/workflows/auth-hurl.yml
  api/.env.example
  api/bun.lock
  api/package.json
  api/src/auth.ts
  api/src/index.ts
  api/src/models/utils/descriptions.ts
  auth/.env.example
  auth/Dockerfile
  auth/README.md
  auth/config.go
  auth/dbc/config.sql.go
  auth/dbc/models.go
  auth/dbc/users.sql.go
  auth/docs/docs.go
  auth/docs/swagger.json
  auth/docs/swagger.yaml
  auth/go.mod
  auth/go.sum
  auth/jwt.go
  auth/kerror.go
  auth/main.go
  auth/page.go
  auth/robot/auth.resource
  auth/robot/sessions.robot
  auth/robot/users.robot
  auth/sessions.go
  auth/sql/migrations/000002_config.down.sql
  auth/sql/migrations/000002_config.up.sql
  auth/sql/migrations/000002_sessions.down.sql
  auth/sql/migrations/000002_sessions.up.sql
  auth/sql/queries/config.sql
  auth/sql/queries/users.sql
  auth/sqlc.yaml
  auth/tests/basic.hurl
  auth/tests/invalid-password.hurl
  auth/tests/users.hurl
  auth/users.go
  auth/utils.go
  docker-compose.dev-v5.yml
  requirements.txt
  shell.nix
Labels: auth

#677 Feat/localized images
  .env.example
  scanner/matcher/matcher.py
  scanner/providers/implementations/themoviedatabase.py
  scanner/providers/utils.py
Labels: enhancement, scanner

#678 Document scanner's v5 workflow
  scanner/README.md
Labels: scanner

#896 [v5] Added support for storing images in S3-compatible object storage
  api/src/controllers/images.ts
  api/src/controllers/seed/images.ts
  api/src/utils.ts
Labels: api
